################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.rustic
/.vs/rustic/v15
/rustic/bin/Debug
/rustic/obj/Debug
